@page "/settings"

@using SWDataScientist.Models
@using SWDataScientist.Services
@inject ISettingsService SettingsService

<div class="mb-3 row">
	<h3>Settings</h3>
</div>
<div class="mb-3 row">
	<div class="col-sm-4">
		<div class="form-group">
			<div class="mb-2 row">
				<label for="settingType" class="col-sm-4 col-form-label form-control-sm">Setting Type</label>
				<div class="col-sm-8">
					<select id="settingType" class="form-select form-select-sm" @onchange="GetSettingBySettingTypeID">
						<option value="0" selected disabled>Select Setting Type</option>
						@if (settingType != null)
							@foreach (var settingtype in settingType)
							{
								<option value="@(settingtype.SettingID)">@settingtype.Description</option>
							}
						}
					</select>
				</div>
			</div>
			<div class="mb-2 row" hidden="@(settingTypeValue == 0 | isFix == true)">
				<label for="description" class="col-sm-4 col-form-label form-select-sm">Description</label>
				<div class="col-sm-8">
					<input id="description" @bind="description" class="form-control form-control-sm" placeholder="Description" />
				</div>
			</div>
			@*<div class="row form-floating mb-2">
				<select class="form-select form-select-sm" id="settingType" @onchange="GetSettingBySettingTypeID">
					<option value="0" selected disabled>Select Setting Type</option>
					@if (settingType != null)
						@foreach (var settingtype in settingType)
						{
							<option value="@(settingtype.SettingID)">@settingtype.Description</option>
						}
					}
				</select>
				<label for="settingType" class="form-control-sm">Setting Type</label>
			</div>
			<div class="row form-floating" hidden="@(settingTypeValue == 0 | isFix == true)">
				<input type="text" class="form-control" @bind="description" id="form-floating" placeholder="Input description">
				<label for="form-floating"class="col-sm-4 col-form-label">Description</label>
			</div>*@
			<div class="mb-3 row">
				<div class="col-sm-12">
					<button @onclick="AddSetting" type="submit" class="mt-2 btn btn-primary btn-sm float-end" hidden="@(settingTypeValue == 0 | isFix == true)">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
	
	@*<div class="col-sm-1 table-responsive-sm"></div>*@
	<div class="col-sm-8 table-responsive-sm">
		<table class="table table-hover table-sm">
			<thead>
				<tr>
					@*<th>Setting ID</th>
					<th>Setting Type ID</th>*@
					<th>Description</th>
					@*<th>Is Fixed?</th>
					<th>Is Active?</th>*@
					<th>Active</th>
					@*<th>Is Deleted?</th>*@
					<th>Action
						<a href="/settings" @onclick="ShowHideTrash" disabled="@(isFix == true)">
							@if (showTrash == true)
							{
								<i class="oi oi-trash text-danger" title="Hide Trash" aria-hidden="true"></i>
							}
							else
							{
								<i class="oi oi-trash text-black" title="Show Trash" aria-hidden="true"></i>
							}
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
					@if (settings == null)
					{
							<tr>
								<td rowspan="3">No Data Found...</td>
							</tr>
					}
					else
					{
						@foreach (var setting in settings)
						{
							<tr>
								@*<td>@setting.SettingID</td>
								<td>@setting.SettingTypeID</td>*@
								<td class="col-sm-8">
									<input	class="form-control form-control-sm" type="text" value="@(setting.Description)" placeholder="Description"
											@oninput="(EventArgs) => {UpdateSetting(setting.SettingID, EventArgs.Value.ToString());}"
											disabled="@(isFix == true || setting.IsDeleted == true || setting.IsActive == false)"
											>
								</td>
								@*<td>@setting.IsFix</td>
								<td>@setting.IsActive</td>*@
								<td class="col-sm-1 align-middle">
									<div class="form-check form-switch form-control-sm">
										<input	class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="@(setting.IsActive == true)"
												@onchange="@(()=> UpdateActiveSetting(setting.SettingID, setting.IsActive))"
												disabled="@(isFix == true || setting.IsDeleted == true)">
									</div>
								</td>
								@*<td>@setting.IsDeleted</td>*@
								<td class="col-sm-3">
									<button @onclick="@(()=> DeleteSetting(setting.SettingID, setting.IsDeleted))" title="Delete" class="btn btn-sm oi oi-x"
											disabled="@(isFix == true || setting.IsDeleted == true)"></button>
								<button @onclick="() => awakenMonster.Open(setting.SettingID, setting.Description)" title="Tag" class="btn btn-sm oi oi-tags"
											disabled="@(isFix == true || setting.IsDeleted == true)" hidden="@(setting.SettingTypeID != 6)"></button>
									<button @onclick="@(()=> DeleteSetting(setting.SettingID, setting.IsDeleted))" title="Restore" class="btn btn-sm oi oi-reload"
											hidden="@(setting.IsDeleted == false)"></button>
								</td>
							</tr>
						}
					}
			</tbody>
		</table>
	</div>
	@*<div class="col-sm-1 table-responsive-sm"></div>*@

	<AwakenMonsters @ref="awakenMonster">
		<Title>Monster Awaken</Title>
		@*<Body>
		</Body>*@
		<Footer>
			@*<button type="submit" class="btn btn-primary float-end">Save Changes</button>*@
			@*<button type="button" class="btn oi oi-x" aria-label="Close" data-dismiss="modal" @onclick="() => modal.Close()"></button>*@
		</Footer>
	</AwakenMonsters>
</div>

@code {
	private List<SettingsModel> settings;
	private List<SettingsModel> settingType;
	private List<SettingsModel> settingTypeAll;

	private AwakenMonsters awakenMonster { get; set; }

	private string description;
	private int settingTypeValue = 0;
	private int isDeleted = 2;
	private bool isFix = true;
	private bool showTrash = false;

	protected override async Task OnInitializedAsync()
	{
		settingType = await SettingsService.GetSettingType();
		settings = await SettingsService.GetSettingBySettingTypeID(settingTypeValue, isDeleted);
		settingTypeAll = await SettingsService.GetSettingBySettingTypeID(-1, 0);
		this.StateHasChanged();
	}

	// GET SETTING LIST BY SETTING TYPE
	private async void GetSettingBySettingTypeID(ChangeEventArgs e)
	{
		settingTypeValue = int.Parse(e.Value.ToString());
		if (settingTypeValue == 6) { isFix = false; isDeleted = 0; } else { isFix = true; isDeleted = 2; }
		settings = await SettingsService.GetSettingBySettingTypeID(settingTypeValue, isDeleted);
		showTrash = true;
		ShowHideTrash();
		this.StateHasChanged();
	}

	private async void ShowHideTrash()
	{
		if (showTrash == false) { showTrash = true; isDeleted = 2; } else { showTrash = false; isDeleted = 0; }
		settings = await SettingsService.GetSettingBySettingTypeID(settingTypeValue, isDeleted);
		this.StateHasChanged();
	}

	private async void DeleteSetting(int settingID, bool isDeleted)
	{
		if (isDeleted == true) { isDeleted = false; } else { isDeleted = true; }
		var response = await SettingsService.DeleteSetting(settingID, isDeleted);
		if (response == null)
		{
			if (isDeleted == true)
			{
				await App.Current.MainPage.DisplayAlert("Deleting Setting", "Setting is successfully deleted.", "OK");
			}
			else
			{
				await App.Current.MainPage.DisplayAlert("Restoring Setting", "Setting is successfully restored.", "OK");				
			}
			await OnInitializedAsync();
		}
		else
		{
			await App.Current.MainPage.DisplayAlert("Uh oh!", "Something went wrong!", "OK");
		}
	}

	private async void UpdateActiveSetting(int settingID, bool isActive)
	{
		if (isActive == true) { isActive = false; } else { isActive = true; }
		var response = await SettingsService.UpdateActiveSetting(settingID, isActive);
		if (response == null)
		{
			await OnInitializedAsync();
		}
		else
		{
			await App.Current.MainPage.DisplayAlert("Uh oh!", "Something went wrong!", "OK");
		}
	}

	private async void UpdateSetting(int settingID, string description)
	{
		var response = await SettingsService.UpdateSetting(settingID, description);
		if (response == null)
		{
			await OnInitializedAsync();
		}
		else
		{
			await App.Current.MainPage.DisplayAlert("Uh oh!", "Something went wrong!", "OK");
		}
	}

	private async void AddSetting()
	{
		var settingModel = new Models.SettingsModel
        {
			SettingTypeID = settingTypeValue,
			Description = description,
			IsFix = false,
            IsActive = true,
            IsDeleted = false

        };

		int response = -1;

		response = await SettingsService.AddSetting(settingModel);

		if (response > 0)
		{
			description = string.Empty;
			await App.Current.MainPage.DisplayAlert("Adding Setting", "Setting is successfully added.", "OK");
			await OnInitializedAsync();
		}
		else
		{
			await App.Current.MainPage.DisplayAlert("Uh oh!", "Something went wrong!", "OK");
		}

	}
}